.dark {
	background-image:url('img/dark.png');
	width : 30px; 
	height : 35px; 
}

.light {
	background-image:url('img/light.png');
	width : 30px; 
	height : 35px;
}

#thetable {
	background-color : lightblue;
	padding : 10px 10px 10px 10px;
	border : 2px solid blue;
	border-radius : 5px 5px 5px 5px;
}
